<!DOCTYPE html>
<html>
  <body>
  <div style="color: lightslategrey">
    <form method="POST" action="/register">
      <div style="padding: 10 10 10 10">
        <label for="email">Email:</label>
        <input type="email" name="email">
    </div>
      <br>
    <div style="padding: 10 10 10 10">
      <label for="password">Password:</label>
      <input type="password" name="password">
    </div>
    </form>
  </div>
  </body>
</html>